* {
    margin: 0;
    padding: 0;
}

.all {
    margin-left: 500px;
    margin-right: 500px;
}

.image {
    margin-top: 20px;
}

.smalltext {
    margin: 15px;
    display: flex;
    justify-content: center;

}


.text {
    display: flex;
    font-size: x-large;
    justify-content: center;
    font-family: sans-serif;
    padding: 0 auto;
    margin: 15px;
    height: 50px;
    color: rgb(88, 88, 88);
}

.top {
    background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    height: 250px;
    width: auto;
    margin-bottom: 20px;
}

.middle {
    background-color: black;
    display: flex;
    margin-bottom: 20px;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    height: 250px;
    width: auto;

}

.bottom {
    background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    height: 250px;
    width: auto;
}